@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.greencircle {
  height: 45px;
  border-radius: 50%;
  background-color: green;
  width: 45px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid black;
}

.redcircle {
  height: 45px;
  border-radius: 50%;
  background-color: red;
  width: 45px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.lightcolor {
  height: 45px;
  border-radius: 50%;
  background-color: lightblue;
  width: 45px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
}